---
layout: default
---

<div class="splash-container">
  <div class="wrapper clearfix">
    <h1>
      Your favorite Michigan restaurant might close forever. Help save it.
    </h1>

    <span>Gift cards help "flatten the curve" of lost income from COVID-19.</span>
  </div>
</div>

<div class="post-splash-container">
  <div class="wrapper clearfix">
    Click on a business below to purchase a gift card.

    {% if site.meetup or site.google_groups %}
      Join us on:
    {% endif %}
    {% if site.meetup %}
      <a href="http://www.meetup.com/{{ site.meetup }}/"><img src="/img/meetup-logo-white.png" alt="Meetup.com" /></a>
    {% endif %}
    {% if site.google_groups %}
      <a href="https://groups.google.com/forum/#!forum/{{ site.google_groups }}"><img class="" src="/img/google-groups-logo-white.png" alt="Google Groups" /></a>
    {% endif %}
  </div>
</div>

<div class="main wrapper clearfix">
  <section>
    <h1>Ann Arbor Businesses</h1>
    <div id="filters">
      <span id="search-category-filter" class="filter-container">
        Category:
        <select id="search-category" class="filter" name="category">
          <option></option>
        </select>
      </span>
      <span id="search-town-filter" class="filter-container">
        Town:
        <select id="search-town" class="filter" name="town">
          <option></option>
        </select>
      </span>
    </div>
    <ul id="businesses" class="home">
      {% assign sorted_businesses = site.data.businesses | sort: 'name' %}
      {% for business in sorted_businesses %}
        <li>
          <a href="{{ business.url }}" target="_blank">
            <address>
              {% assign towns = business.town | split: '|' %}
              <span class="town" title="{{ towns | join: ', ' }}">{{ towns | join: ', ' }}</span>
              <span class="category">{{ business.category }}</span>
            </address>
            <h3>{{ business.name }}</h3>
          </a>
        </li>
      {% endfor %}
    </section>

    <section id="homepage-about">
      <h1>Our duty as loyal customers</h1>
      <p>
        Our small businesses need us more than ever. Even though we can’t leave home, we can still support local restaurants by buying gift cards. It’s basically a mini-loan, so buy one now and make a plan to use it later.
      </p>

      <h2>3 weeks can kill a business</h2>
      <p>
        Restaurants have tons of fixed costs: rent, labor, loan repayments, insurance, supplies, repairs – the list goes on. Even successful restaurants have razor thin margins of 3-5%, and a third have struggled to pay employees at least once. For some, the loss of business due to COVID-19 could tip the balance into bankruptcy.
      </p>
    </section>
  </div>

</div>
