{% if site.google_groups %}
  <div class="pre-footer-container">
    <div class="wrapper clearfix">
      <h2>Join our Mailing List</h2>
      <form action="http://groups.google.com/group/{{ site.google_groups }}/boxsubscribe">
        <input type="hidden" name="hl" value="en" />
        <input type="text" name="email" placeholder="email@example.com" />
        <input type="submit" name="sub" value="Subscribe" class="button" />
      </form>
    </div>
  </div>
{% endif %}

<div class="footer-container">
  <footer class="wrapper">
    &copy;<span id="copyright-year"></span> {{ site.copyright }}
    <script>
      document.getElementById("copyright-year").innerHTML = " " + (new Date()).getFullYear();
    </script>

    <!--
    <span id="attribute">
      Site and Logo by <a href="http://www.alfajango.com">Alfa Jango</a>.
    </span>
    -->
  </footer>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.js"><\/script>')</script>
<script src="/js/vendor/moment.js"></script>
<script src="/js/vendor/jquery.dynatable.js"></script>

<script src="/js/savea2faves.js"></script>

{% if site.google_analytics %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-161660791-1');
  </script>
{% endif %}
