<!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="header-container">
  <header class="wrapper clearfix">
    <a id="header-logo" href="/"><img src="/img/a2rb-logo.png" /></a>

    <nav>
      <ul>
        {% for page in site.pages %}
          {% if page.title %}
          <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>

    <ul id="social-links">
      <li><a target="_blank" href="https://github.com/{{ site.github_username }}"><img src="/img/a2rb-social-icon-github.png" alt="Github icon" /></a></li>
      <li><a target="_blank" href="https://twitter.com/{{ site.twitter_username }}"><img src="/img/a2rb-social-icon-twitter.png" alt="Twitter icon" /></a></li>
    </ul>
  </header>
</div>
