h1 {
  color: $brand-color;
}

button, .button {
  border-style: solid;
  border-width: 0px;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 1.5rem;
  padding-right: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 2.75rem;
  font-size: 1.25rem;
  background-color: $button-color-main;
  border-color: $brand-color-dark;
  color: white;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;

  -webkit-box-shadow: 8px 6px 0px $brand-color;
  -moz-box-shadow: 8px 6px 0px $brand-color;
  box-shadow: 8px 6px 0px $brand-color;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    background-color: $button-color-main-dark;
  }
}

input {
  vertical-align: top;
  border-style: solid;
  border-width: 0px;
  margin: 0 0 1.25rem;
  padding-top: 1.4rem;
  padding-right: 2rem;
  padding-bottom: 1.3625rem;
  padding-left: 2rem;
  font-size: 1rem;
  background-color: #fff;
  border-color: $brand-color-dark;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  &[name="email"] {
    background: url("/img/a2rb-email-icon.png") no-repeat right 1rem center #fff;
    margin-right: 0.5rem;
  }
}

::-webkit-input-placeholder {
   color: $panel-color;
   font-weight: lighter;
}
:-moz-placeholder { /* Firefox 18- */
   color: $panel-color;
   font-weight: lighter;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: $panel-color;
   font-weight: lighter;
}
:-ms-input-placeholder {
   color: $panel-color;
   font-weight: lighter;
}

.header-container {
  border-bottom-width: 8px;
}

#header-logo {
  display: block;
  position: absolute;
  height: 150px;
  top: 15px;

  img {
    height: 100%;
  }
}

#social-links {
  float: right;
  margin: 0;

  li {
    float: left;
    height: 1em;
  }

  a {
    display: block;
    padding: 10px 8px;
  }
}

.splash-container {
  background: url('/img/a2rb-splash-bg.jpg') no-repeat;
  background-size: cover;
  color: #fff;
  padding: 125px 0 45px;

  h1 {
    color: #fff;
    font-size: 3em;
    line-height: 1.1em;
  }

  span {
    margin-left: 20px;
    font-size: 1.3em;
  }
}

.post-splash-container {
  background: $brand-color;
  color: #fff;
  padding: 25px 0;
  text-align: center;
  border-top: solid 8px #fff;

  a {
    color: #fff;
    display: inline-block;
    margin: 0 15px;

    .google-groups-logo {
      background: #fff;
      padding: 10px 16px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
  }
}

.main article {
  float: none;
  width: 100%;
}

.main aside {
  border-top-color: $panel-color;
}

article {
  margin-bottom: 2em;

  .event-posted {
    color: $light-grey-color;
    text-align: center;
    padding-top: 10px;
    border-top: solid 5px $light-grey-color;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
  }
  &:first-child .event-posted {
    border-top: none;
  }

  h1 {
    color: $brand-color;
    font-weight: lighter;
  }

  section,
  p {
    color: $grey-color;
  }

  section {
    margin-bottom: 2em;
  }

  .event-when,
  .event-where {
    color: $brand-color;
    font-size: 1.75em;
    line-height: 1.1em;
    margin-bottom: 1em;

    label {
      display: inline-block;
      width: 4em;
      font-weight: bold;
    }
  }

  address,
  .event-datetime {
    display: inline-block;
    vertical-align: top;
    font-weight: lighter;
    font-style: normal;
  }

  .event-venue-name {
    font-style: italic;
  }

  .event-registered {
    color: $grey-color;
    text-transform: uppercase;
    font-size: 0.8em;
    margin-bottom: 0.5em;
    font-weight: bold;
  }

  .left {
    float: left;
    width: 78%;
    margin-right: 2%;
  }

  .right {
    float: right;
    width: 20%;
    text-align: right;
  }
}

.pre-footer-container {
  background: $panel-color;
  color: #fff;
  padding: 75px 0;
  text-align: center;

  a {
    color: #fff;
  }

  h2 {
    -webkit-text-shadow: 2px 3px 0 $brand-color;
    -moz-text-shadow: 2px 3px 0 $brand-color;
    text-shadow: 2px 3px 0 $brand-color;
    text-transform: uppercase;
  }
}

.footer-container {
  border-top: none;
  padding: 10px 0;

  a {
    color: #fff;
  }
}

#attribute {
  float: right;
}

@media only screen and (min-width: 40.063em) {
  button, .button {
    display: inline-block;
  }
}

@media only screen and (min-width: 480px) {
  nav a {
    float: right;
    padding: 12px 2%;
  }
}
