h1 {
  color: $brand-color;
}

button, .button {
  border-style: solid;
  border-width: 0px;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 1.5rem;
  padding-right: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 2.75rem;
  font-size: 1.25rem;
  background-color: $button-color-main;
  border-color: $brand-color-dark;
  color: white;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;

  -webkit-box-shadow: 8px 6px 0px $brand-color;
  -moz-box-shadow: 8px 6px 0px $brand-color;
  box-shadow: 8px 6px 0px $brand-color;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  font-weight: bold;
  text-transform: uppercase;

  &.secondary {
    background-color: $button-color-secondary;
  }

  &:hover {
    background-color: $button-color-main-dark;

    &.secondary {
      background-color: $button-color-secondary-dark;
    }
  }
}

input {
  vertical-align: top;
  border-style: solid;
  border-width: 0px;
  margin: 0 0 1.25rem;
  padding-top: 1.4rem;
  padding-right: 2rem;
  padding-bottom: 1.3625rem;
  padding-left: 2rem;
  font-size: 1rem;
  background-color: #fff;
  border-color: $brand-color-dark;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  &[name="email"] {
    background: url("/img/a2rb-email-icon.png") no-repeat right 1rem center #fff;
    max-width: 70%;
  }
}

::-webkit-input-placeholder {
   color: $panel-color;
   font-weight: lighter;
}
:-moz-placeholder { /* Firefox 18- */
   color: $panel-color;
   font-weight: lighter;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: $panel-color;
   font-weight: lighter;
}
:-ms-input-placeholder {
   color: $panel-color;
   font-weight: lighter;
}

.header-container {
  border-bottom-width: 8px;
}

#header-logo {
  display: block;
  max-height: 150px;
  max-width: 70%;
  margin: 15px auto;
  text-align: center;

  img {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
  }
}

#social-links {
  text-align: center;
  margin: 0 0 1.25em;
  padding: 0;

  li {
    height: 1em;
    display: inline-block;
  }

  a {
    display: block;
    padding: 10px 8px;
  }
}

.splash-container {
  background: url('/img/a2rb-splash-bg.jpg') no-repeat;
  background-size: cover;
  color: #fff;
  padding: 45px 0;

  h1 {
    color: #fff;
    font-size: 1.75em;
    line-height: 1.1em;
  }

  span {
    display: block;
    font-size: 1.3em;
  }
}

.post-splash-container {
  background: $brand-color;
  color: #fff;
  padding: 25px 0;
  text-align: center;
  border-top: solid 8px #fff;

  a {
    color: #fff;
    display: block;
    margin: 5px 15px 10px;

    .google-groups-logo {
      background: #fff;
      padding: 10px 16px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
  }
}

.main article {
  float: none;
  width: 100%;
}

.main aside {
  border-top-color: $panel-color;
}

article {
  margin-bottom: 2em;

  .event-posted {
    color: $light-grey-color;
    text-align: center;
    padding-top: 10px;
    border-top: solid 2px $lighter-grey-color;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
  }
  &:first-child .event-posted {
    border-top-width: 5px;
  }

  h1 {
    color: $brand-color;
    font-weight: lighter;
  }

  section,
  p {
    color: $grey-color;
  }

  section {
    margin-bottom: 2em;
  }

  .event-when,
  .event-where {
    color: $brand-color;
    font-size: 1.25em;
    line-height: 1.1em;
    margin-bottom: 1em;
    text-align: left;

    label {
      display: block;
      font-weight: bold;
    }
  }

  address,
  .event-datetime {
    font-weight: lighter;
    font-style: normal;
  }

  .event-venue-name {
    font-style: italic;
  }

  .event-registered {
    color: $grey-color;
    text-transform: uppercase;
    font-size: 0.8em;
    margin-bottom: 0.5em;
    font-weight: bold;
  }

  .left {
  }

  .right {
  }
}

.pre-footer-container {
  background: $panel-color;
  color: #fff;
  padding: 30px 0;
  text-align: center;

  a {
    color: #fff;
  }

  h2 {
    -webkit-text-shadow: 2px 3px 0 $brand-color;
    -moz-text-shadow: 2px 3px 0 $brand-color;
    text-shadow: 2px 3px 0 $brand-color;
    text-transform: uppercase;
  }
}

.footer-container {
  border-top: none;
  padding: 10px 0;

  a {
    color: #fff;
  }
}

footer {
  text-align: center;
}

@media only screen and (min-width: 40.063em) {
  button, .button {
    display: inline-block;
  }
}

@media only screen and (min-width: 480px) {
  #header-logo {
    position: absolute;
    margin-bottom: 0;
  }

  nav {
    width: auto;

    ul {
      height: 50px;

      li {
        display: inline-block;

        a {
          float: right;
          padding: 12px 20px;
          width: auto;
        }
      }
    }
  }

  #social-links {
    margin-bottom: 0;
    margin-right: 20px;
    float: right;
  }

  .splash-container {
    padding: 125px 0 45px;

    &.page {
      padding: 100px 0px 35px;
    }

    h1 {
      font-size: 3em;
    }

    .button {
      margin-right: 20px;
    }

    span {
      display: inline-block;
    }
  }

  .post-splash-container {
    a {
      display: inline-block;
      margin: 0 15px;
    }
  }

  article {
    .event-when,
    .event-where {
      color: $brand-color;
      font-size: 1.5em;

      label {
        display: inline-block;
        width: 100px;
      }

      address,
      .event-datetime {
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 110px);
      }
    }

    .left {
      float: left;
      width: calc(100% - 205px);
      margin-right: 20px;
    }
    .right {
      float: right;
      width: 185px;
      text-align: right;
    }
  }
  input {
    &[name="email"] {
      margin-right: 0.5rem;
    }
  }

  .pre-footer-container {
    padding: 75px 0;
  }

  footer {
    text-align: left;
  }

  #attribute {
    float: right;
  }
}
